{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'form/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel= "stylesheet" type = "text/cs" href = "{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/base.css' %}" >

    <!-- CSS -->
    <title>Profile</title> 
  </head>
  <body>

      <div class = "profile-card">

      <div class="card">
  <div class="card-header">
    <h4>Set your account up</h4>
  </div>
  <div class="card-body">
  <h4 class="card-title">Skills</h4>
  <hr>
    <div class = "row">
    
    <div class = "col">
    <div class="form-group">
      <label for="">Select Category</label>
      <select class="form-control form-control-md" name="" id="">
        <option>Design</option>
        <option>Web Developement</option>
        <option>Android Developement</option>
      </select>
      <br>
       <p class="card-text">Select at least on skill and your 
          level of proficiency</p>
    </div>
    </div>
    <div class = "col">
    <!--first skill-->
    <div  class = "skilladd">
    <select class="form-control form-control-sm" name="firstSkill" id="firstSkill">
        <option selected>Select Skill</option>
        <option>Web Developement</option>
        <option>Android Developement</option>
        <option>Graphic Design</option>
      </select>
   <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="firstSkillBeginner" name="firstSkillLevel" class="custom-control-input" disabled>
  <label class="custom-control-label" for="firstSkillBeginner">Beginner</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="firstSkillSec" name="firstSkillLevel" class="custom-control-input" disabled>
  <label class="custom-control-label" for="firstSkillSec">Intermediate</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="firstSkillProf" name="firstSkillLevel" class="custom-control-input" disabled>
  <label class="custom-control-label" for="firstSkillProf">Proficient</label>
</div>
      
    </div>
    <!--seconf skill--->
     <div class = "skilladd">
    <select class="form-control form-control-sm" name="" id="">
        <option selected>Select Skill</option>
        <option>Web Developement</option>
        <option>Android Developement</option>
        <option>Graphic Design</option>
      </select>
   <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="secSkillBeginner" name="secSkill" class="custom-control-input" disabled>
  <label class="custom-control-label" for="secSkillBeginner">Beginner</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="secSkillInter" name="secSkill" class="custom-control-input" disabled>
  <label class="custom-control-label" for="secSkillInter">Intermediate</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="secSkillProf" name="secSkill" class="custom-control-input" disabled>
  <label class="custom-control-label" for="secSkillProf">Proficient</label>
</div>
      
    </div>
    <!-- third skill-->
     <div class = "skilladd" >
    <select class="form-control form-control-sm" name="" id="">
        <option selected>Select Skill</option>
        <option>Web Developement</option>
        <option>Android Developement</option>
        <option>Graphic Design</option>
      </select>
   <div class="custom-control custom-radio custom-control-inline ">
  <input type="radio" id="thirdSkillBeginner" name="thirdSkill" class="custom-control-input disabled" disabled>
  <label class="custom-control-label " for="thirdSkillBeginner">Beginner</label>
</div>
<div class="custom-control custom-radio custom-control-inline" >
  <input type="radio" id="thirdSkillInter" name="thirdSkill" class="custom-control-input" disabled>
  <label class="custom-control-label" for="thirdSkillInter">Intermediate</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="thirdSkillProf" name="thirdSkill" class="custom-control-input" disabled>
  <label class="custom-control-label" for="thirdSkillProf">Proficient</label>
</div>
      
    </div>
    </div>
   
    </div>
    
   <div class = "educationSection">
    <h4>Education/Certificates</h4>
    <hr>
    <button type="button" class="btn btn-success btn-md fl-btn-small addEducation">
    <i class="fa fa-dk fa-plus-square" aria-hidden="true"></i>
    Add New</button>
    <!--Education/Certificate field-->
    <div class = "eduForm-holder">
    <!--left: type-->
    <div class = "row">
    <div class="form-group col-3">
      <label for=""></label>
      <select class="form-control form-control-sm" name="" id="">
        <option selected>Type</option>
        <option>Certificate</option>
        <option>Diploma</option>
        <option>Degree</option>
      </select>
    </div>
      <!--right: provider-->
    <div class="form-group col ">
      <label for=""></label>
      <input type="text"
          class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="School/Institution">
      <small id="helpId" class="form-text text-muted">Provider of Certifcate</small>
  
    </div>
    </div>
    <!--Course/Programme-->
    <div class="form-group">
      <label for=""></label>
      <input type="text"
        class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="Area of Study">
      <small id="helpId" class="form-text text-muted">Programme/Course</small>
    </div>
        
<!--Dates-->
     <div class="row">

     <div class="form-group col">
       <input type="date"
           class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
       <small id="helpId" class="form-text text-muted">Date Started</small>
     </div>
     <div class="form-group col">  
       <input type="date"
           class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
       <small id="helpId" class="form-text text-muted">Date Ended/Ending</small>
     </div>
     <!--remove added education-->
     <div class=" eduForm-holder-remove form-group col-3">
       <button type="button" class="removeEducation btn btn-secondary btn-md">
       <i class="fa fa-minus-circle" aria-hidden="true"></i>
       Remove</button> 
     </div>

    </div>

   </div>
  </div>

  <div class="PersonalInfo">
  <h4>Personal Information</h4>
  <hr>
  <div class="row">
  <div class="col-4">
   <div id="profile-container">
   <img id="profileImage" src="{% static 'img/avatar.png'%}" />
  </div>
      <input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>
    <small>Chose profile image (150px Square)</small>
  </div>
  <div class="col">
    <div class="form-group">
  <label for="">Country</label>
  <select class="form-control form-control-sm" name="" id="">
      <option selected>Select Country</option>
      <option>Ghana</option>
      <option>Hungary</option>
    </select>
    </div>
    <div class="form-group">
      <label for="">City</label>
      <input type="text"
          class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Address</label>
      <input type="text"
          class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
     <div class="form-group">
      <label for="">Contact</label>
      <input type="text"
          class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    
  </div>
    
  </div>
  

  <div class="row">

  
   

  </div>

    
  </div>  
  </div>
  </div>
  <div class="card-footer text-muted">
    <button type="submit" class="btn btn-success btn-block fl-btn-small"><i class="fa fa-dk fa-save"></i>
    SAVE PROFILE</button>
  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
     <script src="{% static 'js/customscripts.js' %}" ></script>
    <script src="{% static 'js/fontawesome.min.js' %}" ></script>
    <script src="{% static 'js/jquery.smartWizard.min.js' %}" ></script>

<!-- JavaScript -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/smartwizard@5.0.0/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script> {% endcomment %}
  </body>
</html>